@import "../../project-styles/variables";

.header {
    // height: 76.5rem;
    text-align: center;
    margin-top: 6rem;

    &--home-page {
        height: 88rem;
    }

    &__container {
        width: 100%;
        height: 56rem;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &--home-page {
            background-image: url("../../graphics/pages-content/home-page/Home-header-1920.png");
        }

        &--about-page {
            background-image: url("../../graphics/pages-content/about-page/about-header-1920.png");
        }

        &--educators-page {
            background-image: url("../../graphics/pages-content/educators-page/educators-header-1920.png");
        }

        &--students-page {
            background-image: url("../../graphics/pages-content/students-page/students-header-1920.png");
        }

        &--partners-page {
            background-image: url("../../graphics/pages-content/partners-page/partners-header-1920.png");
        }
    }

    &__title--home-page {
        padding-top: 12.6rem;
    }

    &__title--about-page {
        padding-top: 22rem;
    }

    &__content-box {
        position: relative;
        top: 26rem;
    }

    &__paragraph {
        max-width: calc(#{$grid-width} * 0.932);
        margin: 0 auto;
        padding: 6.4rem 16.2rem 2.5rem;
        text-align: justify;
        font-size: 2.3rem;
        background-color: var(--color-white);
    }

    &__btn-box {
        padding: 3rem;
        // background-color: var(--color-white);
    }
}
