@import "./project-styles/grid";
@import "./project-styles/mixins";
@import "./project-styles/typography";
@import "./project-styles/utilities";
@import "./project-styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //for correct calculations rem units in Safari
  -webkit-text-size-adjust: none;

  //defines how many px is 1 rem
  // font-size: 50%; // 1rem = 8px, 8/16 = 50%
  // font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)

  // @include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
  @include fluid-type(font-size, 32rem, 194rem, .5rem, 1.6rem);

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12px, 12/16
  // }
  // @include respond(_1200-big-desktop) {
  //   font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)
  // }
  // @include respond(_1040-1200) {
  //   font-size: 56.25%; //1rem = 9px, 9/16 = 50%
  // }
}

:root {
  ////////////////////////////////////////////////
  // COLORS

  // COLOR PRIMARY STUDENT
  --color-pink: #{$color-pink};
  --color-pink-1: #{$color-pink-1};
  --color-pink-2: #{$color-pink-2};
  --color-pink-3: #{$color-pink-3};
  --color-pink-4: #{$color-pink-4};

  // COLOR PRIMARY EDUCATOR
  --color-violet: #{$color-violet};
  --color-violet-1: #{$color-violet-1};
  --color-violet-2: #{$color-violet-2};
  --color-violet-3: #{$color-violet-3};
  --color-violet-4: #{$color-violet-4};

  //COLOR FONT
  --color-font-main: #{$color-font-main};

  //COLOR CONTACT-FORM BACKGROUND
  --color-contact-form-bg: #{$color-contact-form-bg};

  //INPUT-FIELDS
  --color-input-bg: #{$color-input-bg};
  --color-input-border: #{$color-input-border};

  //MENU

  //SHADOWS

  //BLACK
  --color-black: #{$color-black};

  //WHITE
  --color-white: #{$color-white};
}

body {
  box-sizing: border-box;
}

////////////////////////////////////////////////
//STYLING SELECTION
::selection {
  background-color: var(--color-pink);
  color: var(--color-white);
}

////////////////////////////////////////////////
//COMPATIBILITY WITH NON-HTML5 BROWSERS
//(not sure it's needed as I'm going to use display:flex)

footer,
header,
nav,
section {
  display: block;
}
