@import "../../project-styles/mixins";
@import "../../project-styles/variables";
@import "../../project-styles/typography";

.upcoming-event {
  display: flex;
  width: 93%;
  background-color: var(--color-white);
  border-radius: 4rem;
  overflow: hidden;
  margin-bottom: 7rem;
  height: 30vw;
  
  @include BoxShadowHelper(3);
  
  @include respond(_1040-1200) {
    border: 1px solid;
    border-color: var(--color-input-border);
    height: 35%;
  }

  // &:not(:last-child) {
  //   margin-bottom: 7rem;
  // }

  &__cover {
    max-width: 30%;
    overflow: hidden;
  }

  &__photo {
    height: 100%;
  }

  &__requisites {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: 100%;
    width: 70%;

    font-weight: $font-weight-bold;
    font-size: 2.5rem;
    letter-spacing: -1px;
    
    @include respond(_360-580) {
      padding: 3rem;
    }
  }

  &__header {
    // font-weight: $font-weight-bold;
    font-size: 2.5rem;
    
    @include respond(_360-580) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__date-time {
    // font-weight: $font-weight-bold;
    // font-size: $font-size-heading-tertiary;
    // margin-bottom: 3rem;
    // letter-spacing: -1px;
  }

  &__time {
    font-weight: $font-weight-regular;
    margin-left: 2rem;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    min-width: 100%;
    // letter-spacing: -1px;
  }

  &__attending {
    display: flex;
    align-items: center;

    // font-weight: $font-weight-bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    // letter-spacing: -1px;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

    &-icon {
      display: flex;
    }
  }

  &__icon-group {
    width: 6rem;
    height: 6rem;
  }

  &__btn-box {
    display: flex;
    margin-left: auto;
  }
}
