.aside-menu {
  background-image: -webkit-gradient( linear, left top, right bottom, from(var(--color-pink)), to(var(--color-pink-1)) );
  background-image: linear-gradient(to right bottom, var(--color-pink), var(--color-pink-1));
  padding: 8rem 0;

  color: var(--color-white);

  flex: 33% 0 0;
  // flex: 43rem 0 0;

  &--student {
    background-image: -webkit-gradient( linear, left top, right bottom, from(var(--color-violet)), to(var(--color-violet-1)) );
    background-image: linear-gradient(to right bottom, var(--color-violet), var(--color-violet-1));      
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 2rem 0;

    &:active,
    &:hover {
      border-left: .8rem solid var(--color-white);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--color-white);

    font-size: 3.5rem;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 4rem;
  }
}