@import "../../project-styles/mixins";

.sign-up {
  display: flex;
  flex-direction: column;

  @include respond(_1040-1200) {
    flex-direction: row;
    align-items: center;
  }

  &__background {
    padding: 16rem 0rem 0rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    &--educator {
      background-color: var(--color-pink);
    }
    &--student {
      background-color: var(--color-violet);
    }
  }

  &__logo {
    max-width: 42vw;
    padding: 0vw 0vw 5vw 10vw;
  }

  &__heading {
    &--dt {
      display: none;

      @include respond(_1040-1200) {
        display: block;
      }
    }

    &--mb {
      padding: 0vw 10vw 5vw 0vw;
      line-height: 1.3;
      font-weight: 700;
      font-size: 4.2rem;
      text-transform: uppercase;
      letter-spacing: -0.2rem;
      text-align: right;
      max-width: 42vw;

      @include respond(_1040-1200) {
        display: none;
      }
    }
  }

  &__form {
    @include respond(_1040-1200) {
      //   padding-top: 6rem;
      //   justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.form-input--error {
  border-color: red;

  &-message {
    color: red;
    font-size: 1rem;
    line-height: 1;
  }
}
