@import "../../project-styles/mixins";

.sign-up {
  &__background {
    padding: 8rem 2rem 2rem;
    // padding: 8rem 4rem 3rem;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--educator {
      background-color: var(--color-pink);
    }
    &--student {
      background-color: var(--color-violet);
    }
  }

  &__logo {
    max-width: 40vw;
    padding: 5vw;
  }

  &__heading {
    &--dt {
      display: none;

      @include respond(_1040-1200) {
        display: block;
      }
    }

    &--mb {
      padding: 5vw;
    //   padding: 2.5rem;
      //   padding: 4rem;
      line-height: 1;

      font-weight: 700;
      font-size: 3rem;
      //   font-size: 4.2rem;

      text-transform: uppercase;
      letter-spacing: 0.5rem;

      @include respond(_1040-1200) {
        display: none;
      }
    }
  }
}

.form-input--error {
  border-color: red;

  &-message {
    color: red;
    font-size: 1rem;
    line-height: 1;
  }
}
