@import "../../project-styles/mixins";
@import "../../project-styles/variables";
@import "../../project-styles/typography";

.upcoming-list {
  display: flex;
  flex-direction: column;
  // padding-top: 19rem;
  margin: 12rem auto 0;
  min-width: 67%;
  background-color: var(--color-input-border);
  
  @include respond(_1040-1200) {
    // padding-top: 7rem;
    margin: 7rem auto 0;
    background-color: var(--color-white);
  }

  &--dt {
    flex-direction: row;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: initial;
    min-height: 100vh;

    background-color: var(--color-input-border);
  }

  &__content {
    background-color: var(--color-white);
    margin: 0 auto;
    min-height: 100vh;
    max-width: 150rem;
    width: 90vw;
    overflow: hidden;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__heading {
    margin: 9rem 0 5rem 5rem;

    @include respond(_1040-1200) {
      margin: 0 0 4rem 4rem;
    }
  }

  &__events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}