@import './variables';

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-paragraph--mb;
    line-height: calc(#{$font-size-paragraph--mb} * 1.3);
    // line-height: 1.7;
    color: var(--color-font-main);
    @include respond(_1040-1200) {
        font-size: $font-size-paragraph--dt;//2.3rem;
        line-height: calc(#{$font-size-paragraph--dt} * 1.3);
    }
}

.heading-primary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-primary;
    line-height: calc(#{$font-size-heading-primary} * 1.2);
    
    &--uppercase {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-primary; // .6rem;
    }
}

.heading-secondary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-secondary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-secondary; // .5rem;
    }
}

.heading-tertiary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-tertiary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-tertiary; // .4rem;
    }
}

.heading-quaternary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-quaternary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-quaternary; // .3rem;
    }
}

.heading-quinary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-quinary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
}

.paragraph {
    font-weight: $font-weight-regular;
    font-size: $font-size-paragraph--mb;//3rem;
    @include respond(_1040-1200) {
        font-size: $font-size-paragraph--dt;//2.3rem;
    }

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: $letter-spacing-paragraph; //.2rem
    }
}