@import './variables';

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-size-paragraph;
    line-height: calc(#{$font-size-paragraph} * 1.3);
    // line-height: 1.7;
    color: var(--color-font-main);
}

.heading-primary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-primary;
    line-height: calc(#{$font-size-heading-primary} * 1.2);
    
    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .6rem;
    }
}

.heading-secondary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-secondary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .5rem;
    }
}

.heading-tertiary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-tertiary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .4rem;
    }
}

.heading-quaternary {
    font-weight: $font-weight-bold;
    font-size: $font-size-heading-quaternary;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .3rem;
    }
}

.paragraph {
    font-weight: $font-weight-regular;
    font-size: $font-size-paragraph;

    &--uppercase {
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
}