.color-pink {
    color: var(--color-pink);
    fill: var(--color-pink);
}

.color-violet {
    color: var(--color-violet);
    fill: var(--color-violet);
}

.color-white {
    color: var(--color-white);
    fill: var(--color-white);
}

.bg-grey {
    background-color: var(--color-input-bg);
}