@import "../../../project-styles/mixins";

.navigation {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
  @include BoxShadowHelper(4);

  &__content {
    height: 100%;
    width: 100vw;

    &--dt {
      display: none;

      @include respond(_1040-1200) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
      }
    }

    &--mb {
      display: flex;
      // flex-direction: row;
      align-items: center;
      justify-content: space-between;


      @include respond(_1040-1200) {
        display: none;
      }
    }
  }

  &--primary {
    height: 12rem;
    // height: 6rem;
    background-color: var(--color-white);
  }

  &__menu-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 4rem;
    // padding: 2rem;
  }

  &__logo-box {
    // display: inline-block;
    // padding: .55rem 0;
    display: flex;
    align-items: center;
    // flex-direction: column;
    // justify-content: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    height: 100%;
    // line-height: 100%;
    // @include respond(_1040-1200) {
    //   display: none;
    // }
  }

  &__logo {
    height: 8.8rem;
    // height: 4.4rem;
  }

  &__list {
    display: flex;
    // flex-direction: row;
    align-items: center;
    list-style: none;
    // float: right;
    // height: 100%;
    // line-height: 100%;
  }

  &__item {
    align-self: center;
    // float: left;
    height: 100%;
    line-height: 100%;

    &:not(:last-child) {
      padding: 0 2rem;
      // padding: 0 3.5rem;

      &:hover {
        background-color: var(--color-pink-4);
      }
    }
    &:last-child {
      padding: 0 0 0 3.5rem;
    }
  }

  &__btn-box {
    padding: 4rem;
    // padding: 2rem;
  }

  &__btn {
    &--dt {
      display: inline-block;
      margin-top: 1.1rem;
      margin-bottom: 1.1rem;
    }

    &--mb {
      display: flex;
      align-items: center;
    }
  }
}

.navigation-link {
  display: inline-block;
  font-size: 6rem;
  // font-size: 2rem;
  font-weight: 600;
  padding: 4rem 0;
  // padding: 2rem 0;

  text-align: center;
  text-decoration: none;
  height: 100%;
  line-height: 100%;

  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }
}
