@import "../../project-styles/variables";

.contact {
    &__row {
        padding: 19rem 0 25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-details {
        &__box {
            display: flex;
            flex-direction: column;
            width: 40rem;
            height: 100%;
            justify-content: space-between;
        }

        &__details {
            padding: 4rem;
        }

        &__title {
            // padding: 0 0 8rem;
            font-weight: $font-weight-bold;
            font-size: 8rem;
            line-height: calc(8rem * 1.2);
        }

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // align-items: center;
            align-content: center;
            margin: 2rem 0;
        }

        &__icon {
            height: 2.4rem;
            // width: 2.4rem;
            margin-right: 4rem;
        }
    }

    &__map {
        &-box {
            width: 69rem;
            height: 63.5rem;
            // background-color: var(--color-white);
        }
    }
}

.team {
    &__row {
        display: flex;
        flex-direction: row;
        padding: 1rem 20.8rem 18rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-input-border);

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__heading {
        text-align: center;
        padding: 8rem 0 4rem;
    }

    &-member {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;
            font-size: 1.6rem;
            padding: 0 2rem;
        }

        &__title {
            padding: 4.5rem 0 1rem;
        }

        &__role {
            padding: 1rem 0 3rem;
        }

        &__media {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-bottom: 2.5rem;
        }

        &__icon {
            height: 1.8rem;
        }
    }
}
