@import "../../project-styles/mixins";
@import "../../project-styles/variables";

.home {

    &__main {
        margin-top: 11.9rem;
        
        @include respond(_1040-1200) {
            margin-top: 6.9rem;
        }
    }

    &-intro {
        // height: 76.5rem;
        text-align: center;
        // margin-top: 6rem; //aligned with the header with navigation; should be renamed to intro-...
        height: 88rem;
    
        &__container {
            width: 100%;
            height: 56rem;
    
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url("../../graphics/pages-content/home-page/Home-header-1920.png");
        }
    
        &__title {
            padding-top: 12.6rem;
        }

        &__content-box {
            position: relative;
            top: 26rem;
        }
    
        &__paragraph {
            // max-width: calc(#{$grid-width} * 0.932);
            margin: 0 auto;
            padding: 6.4rem 16.2rem 2.5rem;
            text-align: justify;
            font-size: $font-size-paragraph--mb;//3rem;
            background-color: var(--color-white);
            max-width: 156rem;
            
            @include respond(_1040-1200) {
                font-size: $font-size-paragraph--dt;//2.3rem;
            }
        }
    
        &__btn-box {
            // padding: 3rem;
            margin: 3rem auto;
            // background-color: var(--color-white);
        }
    }
    

    &__page-title {
        text-align: center;
        margin: 1.2rem 0 6rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
        @include respond(_1040-1200) {
            flex-direction: row;
            // max-width: 100%;
            padding: 3.2rem 31rem;            
        }
        
        &--middle {
            @include respond(_1040-1200) {
                margin: 10rem auto;
            }
        }
    }
    
    &__segment {
        width: 100vw;

        @include respond(_1040-1200) {
            width: calc((100% - #{$gutter-horizontal-parts}) / 2);
        }
        &:not(:last-child) {
            @include respond(_1040-1200) {
                margin-right: $gutter-horizontal-parts;
            }
        }
    }  
    
    &__cta-link {

        display: block;
        font-size: 3rem;
        font-weight: 600;
        margin: 2rem 0;
                
        @include respond(_1040-1200) {
            display: inline-block;
            font-size: 2.3rem;
            letter-spacing: 0.2rem;
            margin: 6rem 0 0 0;
            
            position: relative;
            
            transition: border-bottom .2s linear;
            // transition: transform .2s linear;
        }
        
        &:after {
            @include respond(_1040-1200) {
                content: "";
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1px;
                width: 0;
                transform: scaleX(0);
                transition: transform 0.3s;//, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
                
                color: inherit;
                background-color: currentColor;
            }
        }
         
        &:link,
        &:visited,
        &:active {
            text-decoration: none;
        }
            
        &:hover::after,
        &:active::after {
            // transform: translateY(-1rem);
            // font-weight: $font-weight-bold;
            // letter-spacing: .19rem;

            // border-bottom: solid .1rem ;

            transform: scaleX(-1);
            width: 100%;
        }
    }

    &__article {
        
        // display: flex;
        // flex-direction: column;
        text-align: center;
        
        padding: 5vw;
        
        @include respond(_1040-1200) {
            text-align: right;
            padding: 0;
        }
        
        &-title {
            margin-bottom: 3rem;
            font-weight: 700;
            font-size: 9rem;
            line-height: 1;
            
            @include respond(_1040-1200) {
                margin-bottom: 3rem;
                font-weight: 700;
                font-size: 5rem;
            }
    
            &--common {
                // margin-bottom: 2rem;
                @include respond(_1040-1200) {
                    // margin-bottom: 2rem;
                }
            }
        }
    
        &-paragraph {
            font-weight: $font-weight-regular;
            line-height: 1.3;
            font-size: $font-size-paragraph--mb;
            text-align: justify;

            @include respond(_1040-1200) {
                font-size: $font-size-paragraph--dt;//2.3rem;
            }
        }
    }
}