@import "../../project-styles/mixins";
@import "../../project-styles/variables";

.container {
    // padding-top: 7rem;
    // width: $grid-width;
    // max-width: 136.6rem;
    margin: 0 auto;
    // padding: $container-padding-top-bottom $container-padding-left-right;
    // background-color: var(--color-white);
}


////////////////////////////////////////////////
// CUSTOM GRID FOR PARTS SECTION
.row--parts {
    .col-1-of-2--parts {
        width: calc((100% - #{$gutter-horizontal-parts}) / 2);
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal-parts;
        }
    }
}

.parts {
    background-color: var(--color-white);
    // text-align: center;

    &__container {
        margin: 0 auto;
        max-width: 111.4rem;
        padding: 3.2rem 8rem;
    }

    &__heading {
        text-align: center;
        padding: 1.2rem 0 6rem;
        // max-width: 111.4rem;
    }

    &__article {
        text-align: right;

        &-title {
            padding-bottom: 3rem;

            &--common {
                padding-bottom: 2rem;
            }
        }

        &-paragraph {
            text-align: justify;
        }
    }
}
