@import "../../project-styles/mixins";
@import "../../project-styles/variables";

.event {
  background-color: var(--color-input-border);

  @include respond(_1040-1200) {
    background-color: var(--color-white);
  }

  &__content {
    background-color: var(--color-white);
    margin: 0 auto;
    min-height: 100vh;
    max-width: 150rem;
    width: 90vw;
    overflow: hidden;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    // letter-spacing: $letter-spacing-tertiary; // .4rem;
    text-align: center;
    // margin: 5rem 0 5rem 3.5rem;
    // margin: 9rem 0 5rem 5rem;

    @include respond(_360-580) {
      font-size: 7rem;
      margin: 8rem auto 0;
      // margin: 6rem 0 6rem 4rem;
    }

    @include respond(_580-720) {
      // font-size: 7rem;
      // margin: 9rem 0 4rem 4rem;
    }

    @include respond(_1040-1200) {
      font-size: 5rem;
      margin: 0 auto;
    }
  }
}
