@import "../../project-styles/mixins";

.footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem 2.5rem;
  background-color: var(--color-pink);
  color: var(--color-white);

  @include respond(_1040-1200) {
    padding: 0.5rem;
  }

  &__content {
    height: 100%;
    line-height: 100%;
    text-align: center;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
  }

  &__copyright {
    // display: inline-block;
    // // height: 100%;
    // line-height: 100%;
    // // vertical-align: middle;
    // padding: 2rem 0;
    display: inline-block;
    line-height: 100%;
    padding: 3rem 0;
    font-size: 3rem;

    @include respond(_1040-1200) {
      margin-right: 3rem;
      font-size: inherit;
    }
  }

  &__media {
    display: inline-block;
    // height: 100%;
    // padding: .8rem 0;
    transform: translateY(0.6rem);
    padding-bottom: 1rem;
  }

  &__link {
    display: inline-block;

    height: 4.4rem;
    width: 4.4rem;
    // height: 2.4rem;
    // width: 2.4rem;

    @include respond(_1040-1200) {
      margin-left: 2rem;
    }

    &:nth-child(2) {
      margin-left: 3rem;
      // margin-left: 2rem;
    }
  }

  &__icon {
    height: 4.4rem;
    width: 4.4rem;
    // height: 2.4rem;
    // width: 2.4rem;
  }
}
