@import "../../project-styles/mixins";

.footer {
  // width: 100vw;
  margin-top: auto;
  padding: 4rem 2.5rem;
  background-color: var(--color-pink);
  color: var(--color-white);

  line-height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(_1040-1200) {
    flex-direction: row;
    padding: 0.5rem;
  }

  &__copyright {
    display: inline-block;
    line-height: 100%;
    padding: 3rem 0;
    font-size: 3rem;

    @include respond(_1040-1200) {
      margin-right: 3rem;
      font-size: inherit;
    }
  }

  &__media {
    display: inline-block;
    transform: translateY(0.6rem);
    padding-bottom: 1rem;
  }

  &__link {
    display: inline-block;

    height: 4.4rem;
    width: 4.4rem;

    @include respond(_1040-1200) {
      margin-left: 2rem;

      height: 3rem;
      width: 3rem;
    }

    &:nth-child(2) {
      margin-left: 3rem;
    }
  }

  &__icon {
    height: 4.4rem;
    width: 4.4rem;

    @include respond(_1040-1200) {
      height: 3rem;
      width: 3rem;
    }
  }
}
