@import "../../project-styles/mixins";
@import "../../project-styles/variables";

.lvl2 {

    /**
    * Top margin for Header
    */
    &__main {
        margin-top: 11.9rem;

        @include respond(_1040-1200) {
            margin-top: 6.9rem;
        }
    }
    
    &__section {
        
        padding: 7rem 4rem 11rem;
        
        @include respond(_1040-1200) {
            padding: 7rem 0 11rem;
        }
        @include respond(_1200-big-desktop) {
            padding: 7rem 0 11rem;
        }

        &--double-pane {

            @include respond(_1040-1200) {
                margin-bottom: 15rem;
            }
        }
    }

    &__article {
        
        padding: 7rem 4rem 11rem;
        
        @include respond(_1040-1200) {
            padding: 7rem 0;
        }
        @include respond(_1200-big-desktop) {
            padding: 7rem 0;
        }
    }

    &__container {
        margin: 0 auto;

        @include respond(_1040-1200) {
            max-width: 145rem;
            margin: 0 auto;
        }
        @include respond(_1200-big-desktop) {
            max-width: 165rem;
            margin: 0 auto;
        }

        &--single-pane {
            padding: 7rem 0 11rem;
        }
    }

    &__flex {

        display: flex;
        flex-direction: column;

        @include respond(_1040-1200) {
            flex-direction: row;
        }

        &-item {

            text-align: center;
            @include respond(_1040-1200) {
                flex: 1 1 0;

            }

            &--left {

                @include respond(_1040-1200) {
                    text-align: right;
                    margin-right: 2.5rem;
                }
            }
                    
            &--right {
                        
                @include respond(_1040-1200) {
                    text-align: left;
                    padding-top: 1.5rem;
                    margin-left: 3rem;
                }
            }

            &--left-about {
                padding: 5vw 0;
                
                @include respond(_1040-1200) {
                    flex: 0 1 65rem;
                    padding: 0;
                }
            }
            
            &--right-about {
                padding: 5vw;
    
                @include respond(_1040-1200) {
                    flex: 0 1 95rem;
                    padding: 0;
                    margin-left: $gutter-horizontal-about;
                }
            }
        }
        
        &--left {

            @include respond(_1040-1200) {
                flex: 1 1 0;
            }
        }
        
        &--right {

            @include respond(_1040-1200) {
                flex: 1 1 0;
                margin-left: $gutter-horizontal-steps;
            }
        }

        &--step {
            padding: 7rem 4rem 20rem;

            @include respond(_1040-1200) {
                padding: 0;
            }
        }
    }

    &--bg-grey {
        background-color: $color-about-section-bg;
        padding: 5rem 0 7.6rem;
    }

    &__heading {
        text-align: center;
        margin-bottom: 4rem;
        line-height: 1.3;
    }

    &__paragraph {
        text-align: justify;

        &-link {
            float: right;
        }
    }

    &__btn-box {
        margin: 3rem auto 5rem;
        text-align: center;

        @include respond(_1040-1200) {
            margin: 0 auto 10rem;
            text-align: center;
        }
    }

    &__image-pane {
        width: 100%;
    }

    &__paragraph-link {

        font-size: 5rem;
        font-weight: 600;
        margin: 6rem 0 0;
        
        @include respond(_1040-1200) {
          font-size: $font-size-paragraph--dt;//2.3rem;
          letter-spacing: 0.2rem;
          
          transition: transform .2s linear;
        }
        
        &:link,
        &:visited,
        &:active {
          text-decoration: none;
        }
        
        &:hover {
          @include respond(_1040-1200) {
            transform: scale(1.15);
          }
        }
    }
}

.partners-contact {
    font-size: 3rem;
    margin-bottom: 25rem;

    &__icon {
        margin-right: 2rem;

        &-box {
            margin-top: 2rem;
        }
    }
}
