.navigation-link {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    // margin: 1rem 0;
    // padding: 1rem 3.5rem;
    padding: 2rem 3.5rem;

    text-align: center;
    text-decoration: none;
    height: 100%;
    line-height: 100%;
    // vertical-align: middle;

    &:link,
    &:visited,
    &:active {
        text-decoration: none;
    }
}
