@import "../../project-styles/mixins";
@import "../../project-styles/variables";
@import "../../project-styles/typography";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // margin-top: 12rem;
  margin: 12rem auto 0;
  
  @include respond(_1040-1200) {
    // margin-top: 7rem;
    margin: 7rem auto 0;
  }

  &--dt {
    flex-direction: row;
    padding: 8rem 6rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: initial;
    min-height: 100vh;

    background-color: var(--color-input-border);
  }

  &__content {
    background-color: var(--color-white);
    // background-color: #fff;
    // max-width: 120rem;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 150rem;
    width: 90vw;
    // border-radius: 3px;
    overflow: hidden;
    // -webkit-box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 7%);
    // box-shadow: 0 2.5rem 8rem 2rem rgb(0 0 0 / 7%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__heading {
    margin-top: 4rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1vw;

    // width: 70%;

    &--btn {
      margin: 4vw 0;
      
      @include respond(_1040-1200) {
        margin: 2vw 0;
      }
    }
  }

  &__photo {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    height: 50vw;

    margin: 4rem 0 2rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

      
    @include respond(_1040-1200) {
      width: 50%;
      height: 50%;
    }
    
    &-img {
      height: 100%;
    }

    &-button {
      position: relative;
      top: -6rem;
      z-index: 5;

      width: 8rem;
      height: 8rem;
    }
  }

  &__main-data {
    display: flex;
    // max-width: 85vw;

    flex-direction: column;
    justify-content: flex-end;
  }

  &__view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // &__field-content {
  //   width: 85vw;
  //   padding: 0.7rem 2rem;
  // }

  &__name {
    text-align: center;
    margin-bottom: 6vh;
    // margin-bottom: 10vw;
    
    // @include respond(_1040-1200) {
    //   margin-bottom: 2vh;
    // }

  }

  &__form {
    flex: 0 0 66vw;
    // flex: 66vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 2rem 0;

    font-size: 3.2rem;
  }

  &__label {
    align-self: start;
    font-size: 2rem;
    font-family: inherit;
    text-align: left;

    &--input {
      margin-left: 2vw;

      @include respond(_1040-1200) {
        margin-left: 3%;
      }
    }
  }

  &__input {
    height: 6.6rem;
    width: 85vw; //25.4rem;
    font-size: $font-size-input-mb;
    font-family: inherit;
    
    padding: 0.7rem 2rem;
    background-color: var(--color-input-bg) !important;
    border: 0.2rem solid var(--color-input-border);
    border-radius: $border-radius-main;
    
    @include respond(_1040-1200) {
      width: 40vw;
      margin: 1vw 0;
      font-size: $font-size-input-dt;
      align-self: flex-start;
    }

    &::-webkit-input-placeholder {
      /* Edge */
      color: var(--color-font-main);
    }

    &::-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--color-font-main);
    }

    &::placeholder {
      color: var(--color-font-main);
    }

    &--error {
      border: 0.2rem solid red; //var(--color-red);

      &-message {
        color: red;
        font-size: 2.5rem;
        line-height: 1;
        max-width: 85vw;
      }
    }
  }

  &__btn {
    height: 6.6rem;
    width: 85vw; //65vw; //25.4rem;
    font-size: 3.2rem;
    
    @include respond(_1040-1200) {
      width: 25vw;
    }
  }
}