@import "../../../project-styles/mixins";
@import "../../../project-styles/variables";

////////////////////////////////////////////////
// CUSTOM GRID FOR PARTS SECTION
.row-contact-form {
    &:not(:last-child) {
        padding-top: 4.2rem;
    }

    &:last-child {
        padding-top: 5.5rem;
    }

    .col-1-of-2--contact-form {
        width: calc((100% - #{$gutter-horizontal-contact-form}) / 2);
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal-contact-form;
        }
    }
}

.subscribe {
    // height: 56.5rem;
    background-color: var(--color-contact-form-bg);
    color: var(--color-white);
    text-align: center;
    padding: 3rem;

    @include respond(_1040-1200) {
        padding: 3.2rem 31rem;;
    }
    
    &__heading {
        margin: 2rem 0 3.6rem;
        color: var(--color-white);
        
        @include respond(_1040-1200) {
            margin: 2rem 0 3.6rem;
        }
    }

    &-form {
        // padding: 0 28.8rem;

        &__row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 3rem 0;

            @include respond(_1040-1200) {
                flex-direction: row;
            }
        }

        &__element {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            
            width: 80vw;
            
            @include respond(_1040-1200) {
                align-items: flex-end;
                align-self: flex-end;
                width: calc((100% - #{$gutter-horizontal-parts}) / 2);
                
                &:not(:last-child) {
                    margin-right: $gutter-horizontal-parts;
                    align-self: flex-start;
                    // margin-right: $gutter-horizontal-contact-form;
                }
            }

            &:not(:last-child) {
                margin-bottom: 3rem;

                @include respond(_1040-1200) {
                    margin-bottom: 0;
                }
            }
        }

        &__field {
            height: $form-element-height-mb;
            width: 100%;
            font-size: $font-size-input-mb;
            font-family: inherit;
            
            padding: 0.7rem 2rem;
            background-color: var(--color-input-bg);
            border: 0.2rem solid var(--color-input-border);
            border-radius: $border-radius-main;
            @include respond(_1040-1200) {
                height: $form-element-height-dt;
                font-size: $font-size-input-dt;
            }
        }

        &__error-message {
            color: #ffaaaa;
            align-self: flex-start;
        }

            /* Reset Select */
        &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 1px solid var(--color-input-border);
            // border: 0 !important;
            background: var(--color-input-bg);
            background-image: none;
        }

        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }
        
        /* Custom Select */
        &__select-box {
            position: relative;
            display: flex;
            width: 100%;
            height: $form-element-height-mb;
            line-height: 2.5;
            background-color: var(--color-input-bg);
            overflow: hidden;
            border-radius: 1.2rem;
            @include respond(_1040-1200) {
                height: $form-element-height-dt;
            }
        }
        &__select {
            flex: 1;
            padding: 0.6rem 5rem 0.5rem 2rem;
            font-size: $font-size-input-mb;
            font-family: inherit;
            font-weight: 700;
            color: var(--color-contact-form-bg);
            cursor: pointer;
            
            @include respond(_1040-1200) {
                font-size: $font-size-input-dt;
            }
            
            & option {
                font-weight: normal;
                line-height: 1.3;
                // background-color: orangered;
                @include respond(_1040-1200) {
                    line-height: 1.3;
                }
                
            }
    
            &:focus {
                outline: none;
            }
    
            &-label {
                display: inline-block;
                width: 100%;
                padding-bottom: 0.5rem;
                text-align: left;
            }
        }
        /* Arrow */
        &__select-box::after {
            content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='28' height='32' viewBox='0 0 28 32' fill='white'><path d='M16 11c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297s-0.516-0.109-0.703-0.297l-7-7c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h14c0.547 0 1 0.453 1 1z' /></svg>");
            // content: "\25BC";
            // background: #000000 0% 0% no-repeat padding-box;
            // content: "\f0d7";
            // font-family: FontAwesome;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1rem;
            border-radius: $border-radius-main;
            border: 2px solid var(--color-pink);
            background: var(--color-pink);
            cursor: pointer;
            pointer-events: none;
            height: 100%;
            width: $form-element-height-mb;

            @include respond(_1040-1200) {
                width: $form-element-height-dt;
            }
        }

        &__select-label {
            align-self: start;
        }
    }
}