.footer {
    width: 100%;
    height: 6rem;
    background-color: var(--color-pink);
    color: var(--color-white);

    &__content {
        height: 100%;
        line-height: 100%;
        text-align: center;
    }
    
    &__copyright {
        display: inline-block;
        // height: 100%;
        line-height: 100%;
        // vertical-align: middle;
        margin-right: 3rem;
        padding: 2rem 0;

    }

    &__media {
        display: inline-block;
        // height: 100%;
        // padding: .8rem 0;
        transform: translateY(.6rem);
    }

    &__link {
        display: inline-block;
        margin-left: 2rem;
        height: 2.4rem;
        width: 2.4rem;
    }

    &__icon {
        height: 2.4rem;
        width: 2.4rem;
        fill: var(--color-white);   
    }
}