@import "../../project-styles/mixins";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  @include BoxShadowHelper(4);

  &--primary {
    height: 12rem;
    // height: 6rem;
    background-color: var(--color-white);

    @include respond(_1040-1200) {
      height: 7rem;
    }
  }

  &__content {
    height: 100%;
    width: 100vw;

    &--dt {
      display: none;

      @include respond(_1040-1200) {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        // height: 100%;
      }
    }

    &--mb {
      display: flex;
      // flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @include respond(_1040-1200) {
        display: none;
      }
    }
  }

  &__nav-box {
    display: flex;
    align-items: stretch;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // min-height: 100%;
    
    &--mb {
      padding: 4rem;
    }
  }

  &__logo-box {
    // display: inline-block;
    // padding: .55rem 0;
    display: flex;
    align-items: center;
    // flex-direction: column;
    // justify-content: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    min-height: 100%;
    // line-height: 100%;
    // @include respond(_1040-1200) {
    //   display: none;
    // }
  }

  &__logo {
    height: 8.8rem;
    // height: 4.4rem;

    @include respond(_1040-1200) {
      height: 4.4rem;
    }
  }

  &__nav {
    display: flex;
    align-items: stretch;
    // flex-direction: row;
    // align-items: center;
    // height: 100%;
    &:before {
      content:'';
      height:100%;
      display:inline-block;
      vertical-align:middle;
    }
  }

  &__item {
    align-self: center;
    // float: left;
    min-height: 100%;
    line-height: 100%;

    &:not(:last-child) {
      padding: 0 4rem;
      // padding: 0 3.5rem;

      &:hover {
        background-color: var(--color-pink-4);
      }
    }
    &:last-child {
      padding: 0 0 0 3.5rem;
    }
  }

  &__btn-box {
    // padding: 2rem;
    
    &--mb {
      padding: 4rem;
    }

    &--dt {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    &--dt {
      display: inline-block;
      // margin-top: 1.1rem;
      // margin-bottom: 1.1rem;
    }

    &--mb {
      height: 5.5rem;
      width: 5.5rem;

      @include respond(_1040-1200) {
        height: default;
        width: default;
      }
    }
  }
}

.navigation-link {

  display: flex;
  align-items: center;
  // align-self: center;
  font-size: 5rem;
  font-weight: 600;
  margin: 2rem 0;

  transition: transform .2s linear;

  // text-align: center;
  // text-decoration: none;
  // min-height: 100%;
  // line-height: 1.2;
  // line-height: 100%;
  // height: 100%;
  // vertical-align: middle;



  @include respond(_1040-1200) {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    margin: 0 6rem 0 0;
  }

  &:link,
  &:visited,
  &:active {
    text-decoration: none;
  }
  
  &:hover {
    transform: scale(1.15);
    // background-color: var(--color-pink-4);
    // border-bottom: solid var(--color-pink);
  }

  
  // &:not(:last-child) {
  //   margin: 0 4rem;
  //   // padding: 0 4rem;

  // }
  // &:last-child {
  //   // padding: 0 0 0 3.5rem;
  // }

  &__delimeter {
    width: 100%;
    height: .1rem;
    margin: 4rem 0;
    background-color: var(--color-font-main);
  }
}
