@import "../../project-styles/mixins";
@import "../../project-styles/variables";

.contact {
    &__row {
        padding: 19rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include respond(_1040-1200) {
            padding: 19rem 0 25rem;
            flex-direction: row;
        }
    }

    &-details {
        &__box {
            display: flex;
            flex-direction: column;
            // width: 40rem;
            height: 100%;
            // justify-content: space-between;

            @include respond(_1040-1200) {
                // display: flex;
                // flex-direction: column;
                width: 40rem;
                height: 100%;
                justify-content: space-between;
            }
        }

        &__details {
            padding: 4rem;
        }

        &__title {
            // padding: 0 0 8rem;
            font-weight: $font-weight-bold;
            font-size: 8rem;
            line-height: calc(8rem * 1.2);
        }

        &__item {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // align-items: center;
            align-content: center;
            margin: 2rem 0;
        }

        &__paragraph {
            margin-left: 2rem;
        }

        // &__icon {
        //     height: 2.4rem;
        //     // width: 2.4rem;
        //     margin-right: 4rem;
        // }
    }

    &__map {
        &-box {
            width: 100vw;
            height: auto;
            // width: 69rem;
            // height: 63.5rem;
            // background-color: var(--color-white);
            @include respond(_1040-1200) {
                // width: 100%;^
                flex: 1 1 0;
            }
        }
    }

    &__icon {
        height: 4.4rem; //size like footer icon size
        @include respond(_1040-1200) {
            height: 3rem;
        }
    }
}

.team {
    padding: 8rem 0 4rem;

    &__row {
        display: flex;
        flex-direction: column;
        padding: 1rem 5vw 18rem;
        
        @include respond(_1040-1200) {
            padding: 1rem 20.8rem 18rem;
            flex-direction: row;
        }
    }
 
    &__col {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-input-border);

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 4rem;
    }

    &-member {

        &__article {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--color-input-border);

            &:not(:last-child) {
                margin-bottom: 4rem;
            }
    
            @include respond(_1040-1200) {
                &:not(:last-child) {
                    margin-bottom: 0;
                    margin-right: 4rem;
                }
            }
            
        }

        &__photo {
            width: 100%;
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;
            font-size: 1.6rem;
            padding: 4.5rem 2rem 2.5rem;
        }

        &__title {
            margin-bottom: 1rem;
            // padding: 4.5rem 0 1rem;
        }

        &__role {
            margin: 1rem 0 3rem;
        }

        &__media {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 2.5rem;
            // padding-bottom: 2.5rem;
        }

        &__link {
            &:not(:last-child) {
                margin-right: 1.8rem;
            }
    
            @include respond(_1040-1200) {
                &:not(:last-child) {
                    margin-right: 1.8rem;
                }
            }
        }

    }
}
