@import "../../../project-styles/variables";

.header {
    // height: 76.5rem;
    height: 88rem;
    text-align: center;
    margin-top: 6rem;

    &__container {
        width: 100%;
        height: 61.7rem;
        background-image: url("../../../graphics/imgs/Home-header-1920.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title {
        padding-top: 12.6rem;
    }

    &__content-box {
        position: relative;
        top: 31rem;
    }

    &__paragraph {
        max-width: calc(#{$grid-width} * 0.932);
        margin: 0 auto;
        padding: 6.4rem 16.2rem 2.5rem;
        text-align: justify;
        font-size: 2.3rem;
        background-color: var(--color-white);
    }

    &__btn-box {
        padding: 3rem;
        background-color: var(--color-white);
    }
}
